body {
    text-align: center;
    background-color: azure;
}

h1 {
    font-size: 5rem;
}

.drum {
    margin: 20px;
    line-height: 2;
    display: inline-block;
    border: 10px solid mediumaquamarine;
    text-align: center;
    height: 150px;
    width: 150px;
    font-size: 5rem;
}

.a {
    background-image: url(images/crash.png);
}

.b {
    background-image: url(images/kick.png);
}

.c {
    background-image: url(images/snare.png);
}

.d {
    background-image: url(images/tom1.png);
}

.e {
    background-image: url(images/tom2.png);
}

.f {
    background-image: url(images/tom3.png);
}

.g {
    background-image: url(images/tom4.png);
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}